
mini3/test_max_x
mini3/train_max_x
mini3/train_max_y.csv
mini3/venv/lib/python3.7/site-packages/sklearn/neighbors/tests/test_ball_tree.py
mini3/__pycache__/Lenet.cpython-37.pyc
*.py
*.exe
*.cfg
*.py
*.xml
*.csh
*.7
contest/venv/bin/pip
mini3/85model.py
mini3/LeNet5.pdf
*.py
mini3/simpleModelAndVisual.ipynb
*.xml
mini4/data/cifar-100-python/file.txt~
mini4/data/cifar-100-python.tar.gz
mini4/data/cifar-100-python/meta
mini4/data/cifar-100-python/test
mini4/data/cifar-100-python/train
mini3/simpleModelAndVisual.ipynb
mini3/ResNet.py
mini3/simpleModelAndVisual.ipynb
